{% extends "base.html" %} {% block content %}
<div class="container py-4">
  <!-- Page Header -->
  <div class="row mb-4">
    <div class="col">
      <h2 class="page-title">
        <strong>{{brand}}</strong>: Product Category List
      </h2>
      <hr style="border-top: 1px solid #d8b4fe; margin: 2rem 0" />
    </div>
  </div>

  <!-- Flash Message Section -->
  <div class="col-12 text-center">
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %}
    <div class="alert-container">
      {% for category, message in messages %}
      <div
        class="alert alert-{{ category }} alert-dismissible fade show"
        role="alert"
        style="border-radius: 8px; border: none; text-align: center"
      >
        {{ message }}
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
          style="color: #d8b4fe"
        ></button>
      </div>
      {% endfor %}
    </div>
    {% endif %} {% endwith %}
  </div>
  <!-- Product Categories -->

  <div class="row g-4">
    <!-- implementing logic for empty -->
    {% if category_images|length == 0 %}
    <div class="col-12 text-center pb-5">
      <h3 class="body-text py-3 text-center">
        This brand is available in our offline store. Online availability coming
        soon!
      </h3>
      <!-- adding button for viewing other category -->
      <a href="{{ url_for('products_brand') }}" class="btn btn-primary"
        >View Other Brands</a
      >
    </div>
    {% endif %} {% for category, image_url in category_images.items() %}
    <div class="col-lg-4 col-md-4 col-sm-6">
      <a
        href="{{ url_for('products', category=category) }}"
        class="category-card-link"
      >
        <div class="card category-card shadow-sm" style="height: 300px">
          <!-- Top part of the card with image -->
          <div
            class="card-img-top d-flex justify-content-center align-items-center"
            style="
              background-color: #eee;
              border-radius: 12px 12px 0 0;
              height: 200px;
              overflow: hidden;
            "
          >
            <img
              src="{{image_url}}"
              alt="{{ category }}"
              class="img-fluid"
              style="max-width: 100%; max-height: 100%; object-fit: contain"
            />
          </div>

          <!-- Card body -->
          <div
            class="card-body text-center text-white"
            style="display: flex; justify-content: center; align-items: center"
          >
            <h5 class="card-title mb-0">{{ category }} Series</h5>
          </div>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>

  {% endblock %}
</div>
